[run]
source = core,ui
omit =
    */tests/*
    */__pycache__/*
    */venv/*
    */.venv/*
    */migrations/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov
